<!--Наследуемся от шаблона default.html -->
<!--данный шаблон лежит в общей папке "templates" -->
{% extends 'default.html' %}

{% block title %}
Archive
{% endblock title %}

<!--Открываем блок содержания -->
<!--В этом блоке мы выводим все посты в виде таблицы-->
{% block content %}
  <h3> Вся информация по затяжкам гайковертов, которые уже напечатаны </h3>
  <h3> Напечатано затяжек: {{ printed_list|length }} </h3>
{% if printed_list %}
      <table align="center" border="4" bordercolor="#000000" cellspacing="0" cellpadding="10">
          <!--Открываем тег строки, чтобы описать названия столбцов -->
          <tr style="background-color: gray">
              <th>
                  &nbsp VIN номер &nbsp
              </th>
              <th>
                  &nbsp Модель &nbsp
              </th>
              <th>
                  &nbsp Номер станции &nbsp
              </th>
              <th>
                  &nbsp Дата/время &nbsp
              </th>
              <th>
                  &nbsp Печать &nbsp
              </th>
              <th>
                  Подробная информация
              </th>
          </tr>
      {% for tightening in printed_list %}
          <tr>
              <td>
                  {{ tightening.vin }}
              </td>
              <td>
                  {{ tightening.vin.model }}
              </td>
              <td>
                  {{ tightening.nutrunner}}
              </td>
              <td>
                  {{ tightening.time_of_creation|date:'d.m.Y' }}/{{ tightening.time_of_creation|time:'H:i' }}
              </td>
              <td>
                  Напечатано
              </td>
              <td>
                  <a href="{% url 'vin_detail' tightening.vin.id %}"><u>Моменты и статусы</u></a>
              </td>
          </tr>
      {% endfor %}
      </table>
{% endif %}
{% endblock content %}