<!--Данный шаблон используется для поиска публикаций по заданным параметрам-->
<!--Наследование шаблона от основного файла-->
{% extends 'default.html' %}

<!--Загрузка собственных фильтров из файла custom_filters.py-->
{% load custom_filters %}

<!--Заголовок страницы-->
{% block title %}
Search Vechicles
{% endblock title %}

<!--Описание содержания страницы-->
{% block content %}
    <h1>Список VIN-номеров</h1>
    <hr>
    <h4>Фильтры поиска</h4>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {{ filter.form }} <!-- Форму от фильтров за нас сделает django. А вот кнопку, увы придётся делать самому -->
        <br><br>
        <p align="center">
            <input type="submit" value="  Найти  ">
        </p>
    </form>
    <hr>
    <!--Если публикации есть, то выводятся поля для поиска-->
    {% if vehicle_search %}
       <table align="center">
           <thead>
              <th>
                  <h4> VIN автомобиля &nbsp </h4>
              </th>
              <th>
                  <h4> &nbsp Модель автомобиля &nbsp </h4>
              </th>
              <th>
                  <h4> &nbsp Результаты затяжек &nbsp </h4>
              </th>
              <th>
                  <h4> &nbsp Чек &nbsp </h4>
              </th>
           </thead>
      {% for vehicle in filter.qs %} <!-- поменяем tightings на filter.qs, т.к. теперь мы забираем уже отобранную по каким-то параметрам информацию -->
          <tr>
              <td>
                  <font size="4">
                      {{ vehicle.vin_number }}
                  </font>
              </td>
              <td>
                  <font size="4">
                      {{ vehicle.model }}
                  </font>
              </td>
              <td>
                  <font size="4">
                      <a href="{% url 'vin_detail' vehicle.id %}"><u>Посмотреть результаты</u></a>
                  </font>
              </td>
          </tr>
      {% endfor %}
      </table>
    <br>
    <!--если нет затяжек, то выводится сообщение ниже-->
    {% else %}
      <h2>Нет информации о затяжках</h2>
    {% endif %}
{% endblock content %}