<!--Наследуемся от шаблона default.html -->
<!--данный шаблон лежит в общей папке "templates" -->
{% extends 'default.html' %}

{% block title %}
Nutrunners Data
{% endblock title %}

<!--Открываем блок содержания -->
<!--В этом блоке мы выводим все посты в виде таблицы-->
{% block content %}
<h2> Результаты затяжек гайковертов </h2>
<!--Открываем блок условия-->
<!--Если есть публикации, то выводим их в виде таблицы-->
{% if not_printed_list %}
    <table align="center"
           border="4"
           bordercolor="#000000"
           cellspacing="0"
           cellpadding="10">
        <tr style="background-color: gray">
            <th>
                &nbsp VIN номер &nbsp
            </th>
            <th>
                &nbsp Модель &nbsp
            </th>
            <th>
                &nbsp Номер станции &nbsp
            </th>
            <th>
                &nbsp Дата/время &nbsp
            </th>
            <th>
                &nbsp Печать &nbsp
            </th>
            <th>
                Подробная информация
            </th>
        </tr>
            <!--Открываем тег цикла-->
            <!--В цикле выводим все посты-->
        {% for tightening in not_printed_list %}
        <tr>
            <td>
                {{ tightening.vin }}
            </td>
            <td>
                {{ tightening.vin.model }}
            </td>
            <td>
                <!-- При нажатии на имя поста в таблице нас теперь будет перекидывать на страницу с информацией о посте -->
                {{ tightening.nutrunner}}
            </td>
            <td>
                {{ tightening.time_of_creation|date:'d.m.Y' }}/{{ tightening.time_of_creation|time:'H:i' }}
            </td>
            <td>
                Не напечатано
            </td>
            <td>
                <a href="{% url 'tightening_detail' tightening.id %}"><u>Моменты и статусы</u></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% else %}
<h3>Нет не напечатанных результатов</h3>
{% endif %}
{% endblock content %}