<!-- Шаблон для отображения всех затяжек с функцией фильтрации -->
<!--Наследование шаблона от основного файла-->
{% extends 'default.html' %}
<!-- Подключаем bootstrap для форм -->
{% load crispy_forms_tags %}

<!--Загрузка собственных фильтров из файла custom_filters.py-->
{% load custom_filters %}

<!--Заголовок страницы-->
{% block title %}
Search tightnings
{% endblock title %}

<!--Описание содержания страницы-->
{% block content %}
    <h2>Все затяжки</h2>
    <hr>
    <font size="3" align="left">
        <p>
            Дата вводится в формате: 01.01.2022 <br>
            Так же можно ввести дату и время: 01.01.2022 09:09
        </p>
    </font>
    <!-- Перед таблицей добавим форму для поиска -->
    <form method="GET">
        {% csrf_token %}
        {{ filter.form|crispy }}
        <br>
        <button type="submit" class="btn btn-primary"> Поиск </button>
    </form>
    <hr>
    <!--Если затяжки есть, то выводятся поля для поиска-->
    {% if tightings %}
       <table align="center">
           <thead>
           <th>
               <b> VIN </b>
           </th>
           <th>
               <b> Модель </b>
           </th>
           <th>
               <b> Дата </b>
           </th>
           <th>
               <b> Время &nbsp </b>
           </th>
           <th>
               <b> &nbsp Гайковерт </b>
           </th>
           <th>
               <b> Чек </b>
           </th>
           </thead>
           <!-- проходимся по каждой затяжке в отфильтрованном списке и отображаем ин-ию -->
      {% for tightening in filter.qs %}
          <tr>
              <td>
                  <a href="{% url 'vin_detail' tightening.vin.id %}"><u>{{ tightening.vin }}</u></a> &nbsp
              </td>
              <td>
                   &nbsp {{ tightening.vin.model }} &nbsp
              </td>
              <td>
                  &nbsp {{ tightening.time_of_creation|date:'d.m.Y' }} &nbsp
              </td>
              <td>
                  &nbsp {{ tightening.time_of_creation|time:'H:i' }} &nbsp
              </td>
              <td>
                  &nbsp {{ tightening.nutrunner }} &nbsp
              </td>
              <td>
                  {% if tightening.printing %}
                  &nbsp <font color="00bf00"> Напечатан </font> &nbsp
                  {% else %}
                  &nbsp Не напечатан &nbsp
                  {% endif %}
              </td>
          </tr>
      {% endfor %}
      </table>
    <br>
    <!--если нет затяжек, то выводится сообщение ниже-->
    {% else %}
      <h2>Нет информации о затяжках</h2>
    {% endif %}
{% endblock content %}