<!--Наследование от общего файла-шаблона-->
{% extends 'default.html' %}

<!--Тег загрузки собственных фильтров из файла
 custom_filters.py в папке templatetags-->

{% load i18n %}

<!--Описание заголовка-->
{% block title %}
Tightening detail
{% endblock title %}

<!--Описание содержания страницы-->
{% block content %}
<h1>
    Иинформация о затяжке. <br>
    Гайковерт: "{{ tightening.nutrunner }}"
</h1>
<br>
<h2 align="left">
    VIN-номер: "{{ tightening.vin }}"<br>
    Модель: "{{ tightening.vin.model }}"<br>
    <br>Дата: "{{ tightening.time_of_creation|date:'d.m.Y' }}"<br>
    Время: "{{ tightening.time_of_creation|time:'H:i' }}"
</h2>
<hr>
<table>
    <!--Заголовок таблицы-->
    <thead>
        <th>
            <h4><b> Затяжка &nbsp </b></h4>
        </th>
        <th>
            <h4><b> Момент затяжки &nbsp </b></h4>
        </th>
        <th>
            <h4><b> Статус затяжки &nbsp </b></h4>
        </th>
    </thead>
    <!--Наполнение таблицы информацией об объекте из БД-->
    <tr>
        {% if tightening.torque_1 %}
        <td>
            <h4>№1</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_1 }}</h4>
        </td>
        <td>
            {% if tightening.status_1 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_1 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_1 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_2 %}
        <td>
            <h4>№2</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_2 }}</h4>
        </td>
        <td>
            {% if tightening.status_2 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_2 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_2 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_3 %}
        <td>
            <h4>№3</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_3 }}</h4>
        </td>
        <td>
            {% if tightening.status_3 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_3 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_3 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
       {% if tightening.torque_4 %}
        <td>
            <h4>№4</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_4 }}</h4>
        </td>
        <td>
            {% if tightening.status_4 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_4 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_4 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_5 %}
        <td>
            <h4>№5</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_5 }}</h4>
        </td>
        <td>
            {% if tightening.status_5 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_5 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_5 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_6 %}
        <td>
            <h4>№6</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_6 }}</h4>
        </td>
        <td>
            {% if tightening.status_6 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_6 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_6 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_7 %}
        <td>
            <h4>№7</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_7 }}</h4>
        </td>
        <td>
            {% if tightening.status_7 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_7 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_7 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_8 %}
        <td>
            <h4>№8</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_8 }}</h4>
        </td>
        <td>
            {% if tightening.status_8 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_8 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_8 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_9 %}
        <td>
            <h4>№9</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_9 }}</h4>
        </td>
        <td>
            {% if tightening.status_9 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_9 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_9 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_10 %}
        <td>
            <h4>№10</h4>
        </td>
        <td>
            <h4>{{ tightening.torque_10 }}</h4>
        </td>
        <td>
            {% if tightening.status_10 == "OK" %}
            <h4><font color="00d900">{{ tightening.status_10 }}</font></h4>
            {% else %}
            <h4><font color="red">{{ tightening.status_10 }}</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
</table>
{% endblock content %}