<!-- Шаблон для отображения подробных данных об автомобиле -->
<!--Наследование от общего файла-шаблона-->
{% extends 'default.html' %}

<!-- Заголовок страницы -->
{% block title %}
VIN detail
{% endblock title %}

<!-- Содержание страницы -->
{% block content %}
<h1>Результаты затяжек по выбранному VIN</h1>
<br>
<h3 align="left">VIN: "{{ vehicle.vin_number }}"</h3>
<h3 align="left">MODEL: "{{ vehicle.model }}"</h3>

<!-- Вызов функции ручной печати чека для выбранного автомобиля -->
<p style="text-align: right">
    <a href="print_a_check/?pk={{ vehicle.id }}"><font size="5">Напечатать чек</font></a>
</p>
<hr>

<!-- проходимся по всем затяжкам выбранного автомобиля -->
{% for tightening in tightenings_list %}
<table>
<!-- Формируем заголовок для каждой затяжки -->
    <caption align="top">
        <h4>
            {{ tightening.nutrunner }} <br>
            ({{ tightening.time_of_creation|date:'d.m.Y' }}/{{ tightening.time_of_creation|time:'H:i' }})
        </h4>
    </caption>
<!-- Если есть данные, выводим их на экран -->
    <tr>
        {% if tightening.torque_1 %}
        <td>
            <h4>Момент &nbsp<br> №1</h4>
        </td>
        {% endif %}
        {% if tightening.torque_2 %}
        <td>
            <h4>Момент &nbsp<br> №2</h4>
        </td>
        {% endif %}
        {% if tightening.torque_3 %}
        <td>
            <h4>Момент &nbsp<br> №3</h4>
        </td>
        {% endif %}
        {% if tightening.torque_4 %}
        <td>
            <h4>Момент &nbsp<br> №4</h4>
        </td>
        {% endif %}
        {% if tightening.torque_5 %}
        <td>
            <h4>Момент &nbsp<br> №5</h4>
        </td>
        {% endif %}
        {% if tightening.torque_6 %}
        <td>
            <h4>Момент &nbsp<br> №6</h4>
        </td>
        {% endif %}
        {% if tightening.torque_7 %}
        <td>
            <h4>Момент &nbsp<br> №7</h4>
        </td>
        {% endif %}
        {% if tightening.torque_8 %}
        <td>
            <h4>Момент &nbsp<br> №8</h4>
        </td>
        {% endif %}
        {% if tightening.torque_9 %}
        <td>
            <h4>Момент &nbsp<br> №9 </h4>
        </td>
        {% endif %}
        {% if tightening.torque_10 %}
        <td>
            <h4>Момент &nbsp<br> №10 </h4>
        </td>
        {% endif %}
    </tr>
    <tr>
        {% if tightening.torque_1 %}
        <td>
            <!-- Если статус ОК, пишем зеленым цветом -->
            {% if tightening.status_1 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_1 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_1 }} &nbsp</font></h4>
            <!-- Иначе красным -->
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_1 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_1 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_2 %}
        <td>
            {% if tightening.status_2 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_2 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_2 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_2 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_2 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_3 %}
        <td>
            {% if tightening.status_3 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_3 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_3 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_3 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_3 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_4 %}
        <td>
            {% if tightening.status_4 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_4 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_4 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_4 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_4 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_5 %}
        <td>
            {% if tightening.status_5 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_5 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_5 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_5 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_5 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_6 %}
        <td>
            {% if tightening.status_6 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_6 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_6 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_6 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_6 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_7 %}
        <td>
            {% if tightening.status_7 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_7 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_7 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_7 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_7 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_8 %}
        <td>
            {% if tightening.status_8 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_8 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_8 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_8 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_8 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_9 %}
        <td>
            {% if tightening.status_9 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_9 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_9 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_9 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_9 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
        {% if tightening.torque_10 %}
        <td>
            {% if tightening.status_10 == "OK" %}
            <h4><font color="00b300">{{ tightening.torque_10 }} &nbsp</font></h4>
            <h4><font color="00b300">{{ tightening.status_10 }} &nbsp</font></h4>
            {% else %}
            <h4><font color="ff0000">{{ tightening.torque_10 }} &nbsp</font></h4>
            <h4><font color="ff0000">{{ tightening.status_10 }} &nbsp</font></h4>
            {% endif %}
        </td>
        {% endif %}
    </tr>
</table>
<hr>
{% endfor %}
{% endblock content %}